---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    I am a PhD student in Machine Learning at 
    <a href="https://www.cam.ac.uk/" target="_blank">the University of Cambridge</a>, 
    where I am affiliated with Darwin College and the department of Computer Science.
    Prior to this, I completed my MRes in Machine Learning at 
    <a href="https://www.imperial.ac.uk/" target="_blank">Imperial College London</a>, 
    supervised by Prof. <a href="https://scholar.google.co.uk/citations?user=wVl_z8kAAAAJ&hl=en" target="_blank">Lucia Specia</a>.
    I obtained my B.Eng. degree in Computer Science from 
    <a href="https://www.cuhk.edu.cn/" target="_blank">The Chinese University of Hong Kong, Shenzhen</a>.
    I have worked as an AI & Data Science Associate at 
    <a href="https://www.jpmorganchase.com/" target="_blank">J.P. Morgan</a>, 
    designing and implementing LLM-based solutions for real-world financial applications.
    I previously interned at <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/" target="_blank">Microsoft Research Asia</a> 
    and <a href="https://www.shlab.org.cn/" target="_blank">Shanghai AI Lab</a>, and held engineering roles at 
    <a href="https://healthcare.tencent.com/" target="_blank">Tencent</a> and 
    <a href="https://www.xishanju.com/" target="_blank">Seasun Entertainment</a>.
</p>
<!-- <p>
  <b>I am actively looking for research internships / collaborations.</b> If you think my background and research interests align with your group, please feel free to reach out!
</p> -->
<p>
  My research interests lie primarily in <b>machine learning</b> and <b>natural language processing</b>, with a focus on:
  <ul>
      <li>
        <i>Scaling concept-based models</i>: developing scalable and efficient concept-based architectures with inherent interpretability and control.
      </li>
      <li>
        <i>Interpretability and explainability in large language models (LLMs)</i>: advancing theoretical and empirical understanding of how LLMs represent and manipulate knowledge and concepts.
        <a href="https://arxiv.org/abs/2401.12874" target="_blank">[xLLM]</a>
        <a href="https://arxiv.org/abs/2410.13077" target="_blank">[MoD]</a>
        <a href="https://clarenceluo78.github.io/" target="_blank">[LoPE]</a>
      </li>
      <li>
        <i>Applied machine learning systems</i>: designing efficient, automated ML pipelines for real-world deployment at scale.
        <a href="https://arxiv.org/abs/2211.12507" target="_blank">[OpenFE]</a>
        <a href="https://clarenceluo78.github.io/" target="_blank">[TIDE]</a>
        <a href="https://clarenceluo78.github.io/assets/papers/ActiveAD.pdf" target="_blank">[ActiveAD]</a>
      </li>
  </ul>
</p>

</div>
<div class="docs-section" id="news">
  <h4>Recent News</h4>
  {% assign current_talks = site.data.news.news | where: "category", "current" %}
  {% for talk in current_talks %}
    <b>{{ talk.time }}</b>: {{ talk.events }}</a> </br>
  {% endfor %}
</div>


<div class="docs-section" id="research">
  <h4>Research</h4>

  <!-- <p>Please find all publications on my <a href="https://scholar.google.com/citations?user=V-dlwF4AAAAJ&hl=en" target="_blank">Google Scholar</a>.  </p> -->
  <!-- <p>* denotes equal contributions.</p> -->

  <ul class="tab-nav">
    <!-- <li><div class="button active" data-ref="#papers-sel">Selected and Recent Papers</div></li> -->
    <li><div class="button active" data-ref="#papers-all">Projects</div></li> 
    <li><div class="button" data-ref="#papers-sel">Papers</div></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane" id="papers-sel">
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.pap %}
              <a class="button" href="{{ paper.pap }}" target="_blank">Preregistration</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
            {% if paper.demo %}
              <a class="button" href="{{ paper.demo }}" target="_blank">Demo</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
          <p><i>{{ paper.extra_venue }}</i></p>
          {% if paper.award %}
            <p><b style="color:#4682b4">{{ paper.award }}</b></p>
          {% endif %}
          {% if paper.news %}
            <p><b style="color:#4682b4">{{ paper.news }}</b></p>
          {% endif %}
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>

    <!-- All PAPERS -->
    <div class="tab-pane active" id="papers-all">
      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.pap %}
              <a class="button" href="{{ paper.pap }}" target="_blank">Preregistration</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
            {% if paper.demo %}
              <a class="button" href="{{ paper.demo }}" target="_blank">Demo</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
          <p><i>{{ paper.extra_venue }}</i></p>
          {% if paper.award %}
          <p><b style="color:#4682b4">{{ paper.award }}</b></p>
          {% endif %}
          {% if paper.news %}
            <p><b style="color:#af64f0">{{ paper.news }}</b></p>
          {% endif %}
          <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>
    
    <!-- <div class="docs-section" id="misc">
      <h4>Misc.</h4>
      <ul>
          <li>Reviewer for EMNLP'24, ICLR'24</li>
          <li>Teaching Assistant for CSC3170 <i>Database System</i> and CSC4020 <i>Machine Learning</i> at CUHK(SZ)</li>
          <li>President of <i>TEDx</i>CUHK(SZ)</li>
          <li><i>Endowment </i> at Imperial MRes</li>
      </ul>
  </div> -->


</div>
<div class="docs-section" id="misc">
  <h4>Misc.</h4>
  <p>
    During my undergraduate studies, I served as a student coordinator at Shaw College and was a host in the Communication and Public Relations Office. 
    I led <span style="color: red">TEDxCUHKSZ</span> as president (check out our <a href="https://mp.weixin.qq.com/s/bGJ-UqhS5GuEfWJ0t2lppQ" target="_blank">annual events</a>!) during my undergraduate years,
    promoting our slogan: "ideas worth spreading" :p 
    In my free time, I'm a passionate piano and cello enthusiast. I also enjoy playing football, basketball, and tennis. 
    Go Warriors and KTBFFH<span>&#128153;</span>
  </p>
</div>


<div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a> and design by <a href="https://github.com/rosewang2008/rosewang2008.github.io">Rose E. Wang</a>.
  </p>
  <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=a&t=n&d=8s1iQpLk56ukACBHDngC5bAbDOZrCEaMHB0f96ePHwc&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script> -->
  <!-- <a href="https://clustrmaps.com/site/1bqht"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=8s1iQpLk56ukACBHDngC5bAbDOZrCEaMHB0f96ePHwc&cl=ffffff" /></a> -->
  <!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=8s1iQpLk56ukACBHDngC5bAbDOZrCEaMHB0f96ePHwc"></script> -->
  <div style="width: 200px; text-align: left;">
    <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=080808&w=200&t=m&d=8s1iQpLk56ukACBHDngC5bAbDOZrCEaMHB0f96ePHwc&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080"></script>
  </div>
</div>

<!-- <div style="width: 200px; margin: 10px 0 0 0; text-align: left;">
  <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=080808&w=300&t=m&d=8s1iQpLk56ukACBHDngC5bAbDOZrCEaMHB0f96ePHwc&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>  
</div> -->
